div.but{
    width: 150px;
    height: 100px;
    left: 50px;
    position: absolute;
    right: 50px;
    top:15em;
    border: 1px;
    transform: skew(-15deg);
    background:black;
    color:whitesmoke;
    text-align: -webkit-center;
}
div.foreground{
    width :150px;
    height: 100px;
    position:inherit;
    top: 0;
    border: 1px;
    text-align: -webkit-center;
    background:white;
    color: white;
    transform: skew(30deg);
    z-index:-1 ;
}
div.butpress{
    transform: skew(-15deg);
    width :150px;
    height: 100px;
    left: 50px;
    position: absolute;
    right: 50px;   
    top:15em;
    border: 1px;
    background:black;
    color:black;
    text-align: -webkit-center;
}
div.text{
    
    line-height: 85px;
    font-size: -webkit-xxx-large;
}